# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
Fonts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Fonts/Playfair_Display.zip
Fonts/Poppins.zip
Fonts/Poppins/OFL.txt
Fonts/Raleway.zip
Fonts/Roboto.zip
