@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#root {

   /* Font sizes */
   --font-large: 36px;
   --font-medium: 24px;
   --font-small: 16px;

  /* Font weights */
  --font-weight-large: 600;
  --font-weight-medium: 400;
  --font-weight-small: 300;

  /* Heading colors */
 --primary:   #30343f;
 --secondary: #98DED9;
 --tertiary: #16f2f5;
 --navcolor: #dddddddd;

}

body {

  font-family: "Raleway", sans-serif;
  text-overflow: none;
  box-sizing: border-box;
  
}


li {
  list-style-type: none;

}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: var(--font-weight-large);
  text-transform: uppercase;
  text-align: start;
}

.heading-light-background {
  color: #30343f;
}

.heading-dark-background {
  color: #FAFAFF;
}

h3 {
  color: #d9dcdc;
  font-size: 36px;
  font-weight: var(--font-weight-medium);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h5 {
  color: var(--tertiary);
  font-size: 18px;
  font-weight: var(--font-weight-small);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 70ch;
}

h2{
  color:#fed766;
  text-align: center;
  font-family:"Poppins",sans-serif;
  font-weight: 400;
  
}


a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}


p {
  font-family: "Poppins", sans-serif;
  font-size: var(--font-small);
  color: #010518;
}


.card-text{
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
   'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



input::placeholder{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.title-name{
  color: #c9c0c9;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 54px;
  font-weight: 600;
}

.tag-heading{
  color: #03114e;
  font-family: "Poppins",sans-serif;
  font-size: 24px;
  font-weight: 500;
}


.card{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.bx{
  color: #7d8082;
  font-size: 36px;
  cursor: pointer;
}

.menu button:hover,
.menu button:focus {
  transform: rotate(180deg);
}




 .vr {
  background-color: #6c6d6e;
  opacity: 1.5;
  width: 2px;
  position: relative;
}

  .right-vr  {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 75px;
    margin: -33px 24px -65px 31px;
  } 

  .socials {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100vh; 
    padding: 2px;
    background-color: transparent; 
    z-index: 1000; 
  }  

.socials a:hover i,
.socials a:focus i {
  color: #08FFC8;
}

.nav-item a{
  color:#fed766;
  font-size: var(--font-small);
  font-weight: var(--font-weight-large);
  font-family: "Raleway", sans-serif;
}

.navbg{
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
}

 .navbg .nav-link{
  color: #03114e;
}



.navbar-nav .nav-link:active,
.navbar-nav .nav-link:active {
  color: #08FFC8;
}

.navbar-nav .nav-link.active:focus,
.navbar-nav .nav-link:active:focus {
  color: #08FFC8;
}

.nav-item a:hover , .nav-item a:focus {
  color: #08FFC8;
}

.skills-vr{
  height: 150px;
}


.hero-section{
  padding: 10rem 2rem 0rem 2rem;
}


.accordion-button , 
.accordion-buttoncollapsed {
  border: 3px solid #10316B;
  color: black;
  
}

.card-title{
  font-family: 'Raleway',sans-serif;
    font-weight: 600;
    color:Black;
}

.contact-section{
  background-color: #00002e;
}

.contact-heading{
  color: white;
}

.contact-subtitle{
  color: #fed766;
  font-weight: 400;
}


Form Label, .skill-content{
  color: #08FFC8;
}


.submit-btn{
  background-color: #203562;
  color:white;
}

.sendBtn{
  background-color: #fed766;
  color: #010518;
}

.submit-btn:focus , .submit-btn:hover, .sendBtn:focus,.sendBtn:hover{
  background-color: #08FFC8;
  color: #010518;
}



@media (max-width: 768px) {
  
  .bx{
    color: #4f46e5;
    font-size: 24px;
    cursor: pointer;
  }

  .socials {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color: transparent; 
    z-index: 1000; 
  }  

.socials a:hover i,
.socials a:focus i {
  color: var(--tertiary);
}

  .hero-section{
    padding: 5rem 1rem 0rem 1rem;
  }
}

@media (min-width:768) {
  .tag-content{
    display: grid;
    justify-content: flex-start;
  }
}
